# Dependências e Builds do Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Dependências e Configurações do Backend (Laravel)
backend/vendor/
backend/.env
backend/.env.backup
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore
backend/storage/*.key
backend/storage/app/public/*
!backend/storage/app/public/.gitignore
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/testing/*
!backend/storage/framework/testing/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/.phpunit.result.cache
backend/public/storage

# IDEs e Sistema Operacional
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
